
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

/* You can add global styles to this file, and also import other style files */
// CSS Reset, comment out if not required or using a different module
/* You can add global styles to this file, and also import other style files */
// @import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

// @include igx-core();
// @include igx-theme($default-palette);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.submitButton{
  background-color: #da5349;
  border-color: #da5349;
}
.btn-primary:hover {
  background-color: #da5349;
  border-color: #da5349;
}


:host ::ng-deep{
    .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: #da5349;
      border-color: #da5349;
    }
  

    .page-link:hover {
      z-index: 2;
      color: #da5349;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6
    }
    .page-link {
      color: #da5349
    }
  }
  ::ng-deep {
      .modal-lg {
        max-width: 1300px !important;
    }
  }

