.h3 {
    font-size: 22px;
    font-weight: 600;
  }
  
  .content {
    margin: 100px 0px 0px -12px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  :host {
    .example-button-row button {
      margin-right: 8px;
  
    }
  
    .rightAlign {
      text-align: right
    }
  
    .errorStyle {
      color: red;
      font-size: x-small;
      font-weight: 400;
      flex-wrap: wrap-reverse;
      // float: right
    }
  
  
  }